@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Jersey+10&display=swap');

/* Código para estilização da fonte não pixelada da pagina (Usar nos textos que não são pixelados) */
.belleza-regular {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Código para estilização da fonte pixelada da pagina (Usar nos textos que são pixelados) */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logomarca{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav a{
    text-decoration: none;
    color: black;
}

nav li{
    display: flex;
    flex-direction: row;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 5vh;
    list-style: none;
    font-size: 2.5vh;
    text-decoration: none;
}

nav li:hover{
    border-bottom: 1px solid #066172;
}

/* Classe que define a pagina atual que o usuário se encontra */
.menu{
    border-bottom: 1px solid #066172;
}}

.inicio{
    display: flex;
    flex-direction: column;
    background-image: url(/frontend/img/background-tela-inicial.png);
    background-size: 30%;
    height: 150px;
}

.anuncio{
    font-family: "Jersey 10", sans-serif;
    font-size: 23px;
    color: white;
    background-color: #006973;
    margin-left: 50px;
    padding-left: 1%;
    border-radius: 30px;
    width: 16.5%;
}

.anuncio-2{
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 6%;
}

.chamada{
    display: flex;
    width: 17%;
    flex-flow: column row;
    flex-wrap: wrap;
}
